
Src/CryptoTrading.App/.vs/CryptoTrading.App/DesignTimeBuild/.dtbcache.v2
Src/CryptoTrading.App/.vs/CryptoTrading.App/v16/.suo
Src/CryptoTrading.App/Binance/obj/Debug/netstandard2/Binance.csprojAssemblyReference.cache
Src/CryptoTrading.App/CryptoTrading.App.Core/obj/Debug/netstandard2.0/CryptoTrading.App.Core.csprojAssemblyReference.cache
Src/CryptoTrading.App/CryptoTrading.App.MarketData/obj/Debug/netstandard2.1/CryptoTrading.App.MarketData.csprojAssemblyReference.cache
Src/CryptoTrading.App/CryptoTrading.App.MarketDataTesting/obj/Debug/netcoreapp3.1/CryptoTrading.App.MarketDataTesting.csprojAssemblyReference.cache
Src/CryptoTrading.App/Indicators/obj/Debug/netstandard2.1/Tulip.NETCore.csprojAssemblyReference.cache
Src/CryptoTrading.App/IndicatorsTest/obj/Debug/netcoreapp3.1/IndicatorsTest.csprojAssemblyReference.cache
Src/CryptoTrading.App/Samples/Binance.Application/obj/Debug/netstandard2.0/Binance.Application.csprojAssemblyReference.cache
Src/CryptoTrading.App/Samples/Binance.WebSocket.WebSocket4Net/obj/Debug/netstandard2.0/Binance.WebSocket.WebSocket4Net.csprojAssemblyReference.cache
Src/CryptoTrading.App/Samples/Binance.WebSocket.WebSocketSharp/obj/Debug/netstandard2.0/Binance.WebSocket.WebSocketSharp.csprojAssemblyReference.cache
Src/CryptoTrading.App/Samples/Binance24HourStatistics/obj/Debug/netcoreapp2.0/Binance24HourStatistics.csprojAssemblyReference.cache
Src/CryptoTrading.App/Samples/BinanceCodeGenerator/obj/Debug/netcoreapp2.1/BinanceCodeGenerator.csprojAssemblyReference.cache
Src/CryptoTrading.App/Samples/BinanceConsoleApp/obj/Debug/netcoreapp2.1/BinanceConsoleApp.csprojAssemblyReference.cache
*.dll
*.pdb
*.cache
*.v2
Src/CryptoTrading.App/.vs/CryptoTrading.App/v16/.suo
